[Unit]
Description=uWSGI instance to Coub Assistant Telegram bot
After=network.target

[Service]
User=sysadmin2
Group=sysadmin2
WorkingDirectory=/media/sysadmin2/Data/Project/Coub-Assistant-Telegram-bot/app
Environment="PATH=/media/sysadmin2/Data/Project/Coub-Assistant-Telegram-bot/env/bin"
ExecStart=/media/sysadmin2/Data/Project/Coub-Assistant-Telegram-bot/env/bin/uwsgi --ini app.ini

[Install]
WantedBy=multi-user.target
